<div class="d-flex flex-column align-items-center mt-3">
    {{#each this}}
    <div class="answer card mt-2" style="width: 18rem;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{parent.username}} answered on {{moment created_at format="ddd DD/MM/YYYY HH:mm A"}}</h6>
            <p class="card-text"> {{answer_text}}</p>
            {{vote_count}} {{format_plural "point" vote_count}}
        </div>
        <button type="button" class="second-vote-btn" data-answerId={{id}}>vote</button>
    </div>
    {{/each}}
</div>

{{!-- Modal  --}}
<div class="modal fade" id="myAnswerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vote Duplicate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">That is great you like this Question so much you would like to vote again. Unfortunately, we only allow one vote per account</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>